html {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .container{
    margin:auto;
  
  }
  img {
    max-width: 100%;
    height: auto;
  }
  main {
    margin: auto;
  }
  body {
    background-image: url("../assets/img/backdrop.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }